<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.DrivingSignsMapper">

    <resultMap id="BaseResultMap" type="com.tencent.model.DrivingSigns">
        <id property="id" column="id"/>
        <result property="level1" column="level1"/>
        <result property="level2" column="level2"/>
        <result property="level3" column="level3"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="sourceFile" column="source_file"/>
    </resultMap>

</mapper>
