<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.DrivingSignsMapper">

    <resultMap id="BaseResultMap" type="com.tencent.model.DrivingSigns">
        <id property="id" column="id"/>
        <result property="level1" column="level1"/>
        <result property="level2" column="level2"/>
        <result property="level3" column="level3"/>
        <result property="detail" column="detail"/>
        <result property="description" column="description"/>
        <result property="imageUrl" column="image_url"/>
        <result property="fileUploadId" column="file_upload_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,level1,level2,level3,detail,description,
        image_url,file_upload_id
    </sql>
</mapper>
