<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.KnowledgeLibraryMapper">

    <resultMap id="BaseResultMap" type="com.tencent.model.KnowledgeLibrary">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="level1Dir" column="level1_dir" jdbcType="VARCHAR"/>
        <result property="level2Dir" column="level2_dir" jdbcType="VARCHAR"/>
        <result property="level3Dir" column="level3_dir" jdbcType="VARCHAR"/>
        <result property="level4Dir" column="level4_dir" jdbcType="VARCHAR"/>
        <result property="difficulty" column="difficulty" jdbcType="TINYINT"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,level1_dir,level2_dir,
        level3_dir,level4_dir,difficulty,
        image_url,content,sort_order,
        status,created_at,updated_at
    </sql>

    <select id="listByLevel1Dir" resultType="com.tencent.response.LearningProgressResponse">
        SELECT k.level2_dir,
               COUNT(k.id)                                                     AS knowledgeSum,
               COUNT(DISTINCT CASE WHEN sks.learning_status = 2 THEN k.id END) AS learnCount
        FROM knowledge_library k
                 LEFT JOIN
             learning_progress sks ON k.id = sks.knowledge_id AND sks.user_id = #{userId}
        WHERE k.level1_dir = #{level1Dir}
        GROUP BY k.level2_dir, k.sort_order
        ORDER BY k.sort_order;
    </select>

    <select id="listInfoByLevel2Dir" resultType="com.tencent.response.KnowledgeLibraryResponse">
        SELECT k.id,
               k.level3_dir,
               k.level4_dir,
               k.difficulty,
               k.image_url,
               k.content,
               IFNULL(sks.learning_status, 0) AS learning_status
        FROM knowledge_library k
                 LEFT JOIN learning_progress sks
                           ON k.id = sks.knowledge_id AND sks.user_id = #{userId}
        where k.level2_dir = #{level2Dir}
    </select>

</mapper>
