<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.PracticeMapper">

    <resultMap id="BaseResultMap" type="com.tencent.model.Practice">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="knowledgeId" column="knowledge_id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="rewardGold" column="reward_gold" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getPracticeList" resultType="com.tencent.response.PracticeResponse">
        SELECT p.id,
               p.title,
               p.knowledge_id,
               p.type,
               p.reward_gold,
               ifnull((ROUND(SUM(
                                     SUBSTRING(pr.duration, 1, 2) + -- 小时部分
                                     SUBSTRING(pr.duration, 4, 2) / 60.0 + -- 分钟部分
                                     SUBSTRING(pr.duration, 7, 2) / 3600.0 -- 秒部分
                             ), 2)), 0) AS duration
        FROM practice p
                 LEFT JOIN
             user_practice_record pr ON p.id = pr.practice_id and pr.user_id = #{userId}
        GROUP BY p.id;
    </select>
    <select id="getKnowledgeLibraries" resultType="com.tencent.response.PracticeKnowledgeResponse">
        SELECT sd.id, sd.title, if(ul.learning_status IS NULL, 0, 1) as state
        FROM study_knowledge sd
        left join user_learning_progress ul on sd.id = ul.knowledge_id AND ul.user_id = #{userId}
        WHERE sd.id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
