<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.RewardMapper">

    <resultMap id="BaseResultMap" type="com.tencent.model.Reward">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="exchangeCondition" column="exchange_condition" jdbcType="INTEGER"/>
        <result property="rewardType" column="reward_type" jdbcType="TINYINT"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="isActive" column="is_active" jdbcType="TINYINT"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,
        image,exchange_condition,reward_type,
        sort_order,is_active,created_at,
        updated_at
    </sql>

    <select id="getRewardList" resultType="com.tencent.response.RewardResponse">
        SELECT r.id,
               r.title,
               r.image,
               r.exchange_condition,
               r.reward_type,
               r.sort_order
        FROM reward r
                 LEFT JOIN redemption re ON r.id = re.reward_id AND re.user_id = #{userId}
        WHERE re.reward_id IS NULL;
    </select>
</mapper>
